/* navbar styles */
.navbar-brand{
  position: fixed;
  right: 0;
}

.navbar-dropdown {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0; 
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/*navbar link styles */
.navbar-dropdown.is-active {
  display: block;
}

.navbar-dropdown a {
  color: #000; 
  padding: 10px;
  display: block;
}

/* general styles */
.label {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 8px; 
  display: block; 
  padding-left: 5px;
}

/*input container styles */
#inputContainer {
  display: flex;
  align-items: center;
  margin-top: 70px; 
}

#ingredientInput {
  margin-left: 10px; 
}

#enteredIngredientContainer {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f8f9fa; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* #enteredIngredientContainer {
  background-color: #f8f9fa; 
  border: 1px solid #ced4da; 
  padding: 15px; 
  margin-bottom: 10px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
} */

#enteredIngredientContainer:hover {
  background-color: #e2e6ea;
}


.foodInput {
  border-radius: 5px;
}

.drink-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .drink-container h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }  
  
  .drink-container p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .hide {
    display: none !important;
  }

  .flex {
    display: flex;
    gap: 5px;
  }

  .photoContainer {
    width: 100px;
    height: fit-content;
    border: 3px solid;
    margin: 2%;
    flex-basis: 20%;
    object-fit: contain;
  }

  .textFlex {
    display: flex;
    flex-direction: column;
  }

  #ingredientList {
    flex: 1;
  }

  #foodRecipes {
    flex: 1 1 0;
  }