header {
  background-color: #f0f0f0; /* Set a background color */
  padding-top: 30px; /* Add some padding for better visibility */
}

.navbar {
  margin-bottom: 10px; /* Adjust the margin to create space between header and navbar */
}

.navbar-dropdown {
  display: none; /* Hide the dropdown by default */
  position: absolute;
  top: 100%;
  right: 0; /* Adjust the left property to position it on the left side */
  background-color: #fff; /* Set background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.navbar-dropdown.is-active {
  display: block;
}

/* Style the dropdown items */
.navbar-dropdown a {
  color: #333; /* Set text color */
  padding: 10px; /* Add padding for better spacing */
  display: block; /* Make each item a block element */
}

.label {
  font-size: 1.5rem; /* Adjust font size */
  font-weight: bold; /* Make it bold */
  color: #333; /* Set text color */
  margin-bottom: 8px; /* Add some bottom margin for spacing */
  display: block; /* Make it a block element */
  padding-left: 5px;
}

.foodInput {
  border-radius: 5px; /* Adjust border-radius for rounded corners */
}

.drink-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .drink-container h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }  
  
  .drink-container p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .hide {
    display: none !important;
  }

  .flex {
    display: flex;
  }

  .photoContainer {
    width: 100px;
    /* height: 180px; */
    /* background-color: blue; */
    border: 3px solid black;
    margin: 2%;
    flex-basis: 20%;
  }

  .textFlex {
    display: flex;
    flex-direction: column;
  }